In [15]:
import sqlite3
import pandas as pd
from matplotlib import pyplot as plt

In [16]:
conn = sqlite3.connect('./resources/phonebook.db')
cur = conn.cursor()

In [17]:
query = "SELECT name FROM coworkers;"
cur.execute(query)

In [18]:
for r in cur:
    print(r)

('Han Solo',)
('Obi-Wan Kenobi',)

In [19]:
cur.execute("SELECT name FROM coworkers WHERE title='Princess'")
for r in cur:
    print(r)

In [20]:
# Provide the code to query the names of all the princesses and the debt collectors.

cur.execute("SELECT name FROM coworkers WHERE (title='Princess' OR title='Debt Collector')")
for r in cur:
    print(r)

In [21]:
# Provide the code to query the names and numbers of all the Jedi?

cur.execute("SELECT name, number FROM coworkers WHERE title='Jedi'")
for r in cur:
    print(r)

('Obi-Wan Kenobi', 5558963276)

In [24]:
cur.execute("SELECT name  FROM coworkers WHERE title LIKE '%droid%'")
for r in cur:
    print(r)

('Obi-Wan Kenobi',)